.weather-app {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  
}

/* Style the search bar container */
.search-bar {
 display: flex;
align-items: center;
}

.search-input {
  width: 200px; /* Adjust the width as needed */
  height: 30px; /* Adjust the height as needed */
  padding: 5px; /* Adjust the padding as needed */
  font-size: 1rem; /* Adjust the font size as needed */
}

/* Style the input field */
.search-bar input {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


/* Style the search button */
.search-bar button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0074d9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

body {
  
  background: linear-gradient(#a4db40, #3c50d1);;
  /* background: linear-gradient(#940694, #6b2649); */
}

.noweather {
  margin-bottom: 900px;
}


