.weather-app {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  
}


.search-bar {
 display: flex;
align-items: center;
}

.search-input {
  width: 200px; 
  height: 30px; 
  padding: 5px;
  font-size: 1rem; 
}


.search-bar input {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}



.search-bar button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0074d9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

body {
  
  background: linear-gradient(#a4db40, #3c50d1);;
}

.noweather {
  margin-bottom: 900px;
}


